* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    gap: 20rem;
}


.product  {
    display: flex;
    border-radius: 3px;
    box-shadow: 3px 4px 3px 3px gray ;
    
}

.buy-product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.buy-product h1 {
    margin-bottom: 1rem;
}

.buy-product button {
    
    margin-top: 3rem;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: larger;
    border-radius: 0.5rem;
    width: 250px;
    height: 70px;
}
